<IfModule mod_rewrite.c>

############################################
## never rewrite for existing files, directories and links
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l


  RewriteRule /recipes* recipes.php

</IfModule>
